/* 
http://www.tam-tam.co.jp/tipsnote/html_css/post10205.html
Componentレイヤー
Componentレイヤーは多くのプロジェクトで横断的に再利用できるような小さな単位のモジュールが該当します。OOCSSの構造の機能を担い、固有のサイズや装飾的なスタイルを極力含まないようにします。
※通常、接頭語にc- が必要だが、ここでは、前CSS構造の sub-common.css の内容を引き継ぐ。
*/


/*スマホでブレ対策*/
@media (max-width: 991px) {
    #main > .weluka-container-fluid,
    #main > .weluka-container {
        padding-left: 10px;
        padding-right: 10px;
    }
    .topnav-clm {
        padding-left: 10px;
        padding-right: 10px;
    }
}

/* newsの画像を真ん中配置 */

.category-news img{
 display: block;
 margin-left: auto;
 margin-right: auto;

}

#main-content .category-news table td {
    border: 0px none #000;
    padding: 0px 0px 0px 0px;
    text-align: center;
}


/*PC MENU文字非表示＆スマホのMENUを中央配置*/
/* header メニュー調整*/
.navbar-brand {
    /* 
    width: 60%;
    text-align: right;
 */
}

 /* 768px以上 は非表示*/
@media (min-width: 768px) {
    .navbar-brand {
        display: none;
    }
}



/* ハンバーガーメニュー調整 767以下*/
@media (max-width: 767px) {
    .header-menu-clm .weluka-wpmenu {
        position: relative;
    }
    /*.header-menu-clm .navbar-header*/
    .header-menu-clm .navbar-header {
        // position: fixed; /*ついてくるヘッダ用*/
        position: relative;
        z-index: 999;
        width: 100%;
        left: 0;
        top: -90px;
    }
    . weluka-nav-bar-v {
        /*display: none;
        メニューの表示非表示の操作はwekukaに直接設定
        */
        background-color: #252525;
    }

}


/* share button */
.share-btns {
	clear: both;
	margin-top: 10px;
	margin-bottom: 40px;
    padding :0 50px;
    text-align: center;
}
.share-btns ul {
	margin: 0;
        display: block;
    list-style-type: disc;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0px !important; 
}
.share-btns-item {
	float: left;
	list-style: outside none none;
	margin: 0px 10px;
	width: 40%;
}
.share-btns-item .fa {
	width: 16px;
}
.share-btn {
	color: #fff !important;
	display: block;
	font-size: 14px;
	padding: 20px 0;
	text-align: center;
	text-decoration: none;
	width: 100%;
}
.share-btn.fb {
	background: #295993 none repeat scroll 0 0;
}
.share-btn.twitter {
	background: #00acec none repeat scroll 0 0;
}
.share-btn.hatena {
	background: #008fde none repeat scroll 0 0;
}
.share-btn.gplus {
	background: #de4d3e none repeat scroll 0 0;
}

/* end.share button */

/*TOPに戻るボタン*/

#pageTop {
    position: fixed;
    bottom: 50px;
    right: 30px;
}

#pageTop a {
    display: block;
    z-index: 9999;
    padding: 10px 0 0 1px;
    border-radius: 3px;
    width: 53px;
    height: 53px;
    background-color: #00718e;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
}

#pageTop a:hover {
    text-decoration: none;
    opacity: 0.7;
}

/*contact form 7*/
.contactform-accept {
    text-align: center;
}
 form.wpcf7-form p {
    margin: 1.5rem 0;
}

.contactform-btn-send {
    text-align: center;
}
.contactform-btn-send-skin .weluka-btn {
    padding: 5px 60px;
}

#main-content .wpcf7 h3{
        color: #004b64;
    font-size: 16px;
    border:0px;
}

.wpcf7 .another-form{
  background: #fafafa none repeat scroll 0 0;
    border: 1px solid #ddd;
    border-radius: 10px;
    margin: 0 0 30px;
    padding: 5px;
}


.wpcf7 .c-wpcf7-1form{ /*名前等70%列*/
    width:65%;
}
.wpcf7 .c-wpcf7-2form{ /*名前等2列*/
    width:47%;
}
.wpcf7 .c-wpcf7-3form{ /*名前等2列*/
    width:33%;
}
.wpcf7 .c-wpcf7-4form{ /*名前等2列*/
    width:20%;
}

.wpcf7 form.wpcf7-form .c-wpcf7-name{
    margin-bottom: 0px;
}
.wpcf7 form.wpcf7-form .c-wpcf7-input{
    margin-top: 0px;
}

/* SearchWindow */
 
.search-submit { 
   -moz-user-select: none;
    border: 1px solid transparent;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.35;
    margin-bottom: 0;
    padding: 6px 12px;
    text-align: center;
    touch-action: manipulation;
    vertical-align: middle;
}
.search-submit:hover,.search-submit:active { 
 color: #fff;
 background-color: #303030;
 border-color: #3c3c3c ;
}


/*Googleスプレッドシート設定*/

.igsv-table {
    border: medium solid #333;
}

.igsv-table .odd {
    border-right: medium solid #333;
}

.igsv-table th.odd {
    border-right: 0px;
}

.igsv-table tr.odd {
    /* styles for odd-numbered rows   (row 1, 3, 5...) */
    background-color: #eeeeee;
}

.igsv-table tr.even {
    /* styles for even-numbered rows  (row 2, 4, 6...) */
    background-color: #fff;
}

.igsv-table td.odd,
.igsv-table td.even {
    /* styles for odd-numbered cells  (column 1, 3, 5...) */
    font-size: 20px;
    padding: 20px;
    vertical-align: center;
}

.igsv-table thead tr.odd {
    /*見出し背景*/
    background-color: #e03730;
}

.igsv-table thead th {
    /*見出しテキスト*/
    color: #fff;
    font-size: 20px;
    padding: 20px 35px;
}

.fadeInDown {
    -webkit-animation-fill-mode: both;
    -ms-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-duration: 1s;
    -ms-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
    visibility: visible !important;
}

@-webkit-keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
    }
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-20px);
        -ms-transform: translateY(-20px);
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
}


