/* 
http://www.tam-tam.co.jp/tipsnote/html_css/post10205.html
Projectレイヤー
Projectレイヤーはプロジェクト固有のスタイルが該当します。プロジェクトで使い回すスタイルのほとんどはProjectレイヤーに追加することになります。
※接頭語に p- が必要だが、sub-free.css を引き継ぐため、これに限らない。



/* nav */
.nav .menu-item{
    font-size: 20px;
}

/* list */
.p-indent-list{
    counter-increment: number;

    padding: 10px 0 10px 30px;
    text-indent: -3rem;
}

.p-indent-list li{
        list-style: inside none;
}

.readtext {
    text-align: center;
}

.text-imgflow {
    text-align: center;
    font-size: 1.4rem;
}

.readtext .h2 {
    font-size: 26px;
    margin-bottom: 5px;
    text-align: center;
    color: #000;
    font-weight: 700;
}

.readtext .h3 {
    font-size: 250%;
    font-weight: normal;
    margin: auto 5px;
    color: #e03730;
    font-weight: 900;
    margin: 10px 0px;
    text-align: center;
}

.weluka-bl-title {
    border-left: 5px solid #193e72;
    font-size: 17.5px;
    margin: 20px 0;
    padding: 10px 20px;
    font-weight: 600;
}


/*カテゴリショートコード*/

.getPostDispArea .getPost {
    /*
    border: 2px solid #9a9a9a;
        background-color: #e4f4ff;
      */
    padding: 5px;
    margin: 5px 0px;
}

.getPostDispArea .getPost:after {
    content: '';
    display: table;
    clear: both;
}


/*heade navi*/

.navbar-brand {
    padding: 1px;
}

.navbar-brand img {
    display: inline;
}

.weluka-nav a {
    display: inline;
    padding: 3px 3px;
    margin-left: 5px;
}

/*schedule*/
.p-schedule{
    padding:0px;
    border:1px solid #CECECE;
}


/* Bogo */

.bogo-language-switcher{
    margin-left: auto;
    margin-right: auto;
}
.bogo-line ul {
    display: table;
    table-layout: fixed;
}

.bogo-line ul li {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-size: 1.2rem;
    margin-right: 5px;
    vertical-align: middle;
    padding-top: 3px;
}

.bogo-line ul li:first-child {
    border: none;
}

.bogo-line ul li a {
    // text-decoration:none;
    color: #193E72;
}


/* 現在選択してる言語は非表示 */

.bogo-language-switcher .current {
    display: none;
}


/* セラピー(治療ページ) */

.therapybtn {
    float: left;
    margin: 2px 2px;
}

.therapybtn-def {}

.therapybtn-current {
    background-color: #e6e6e6;
}

.p-therapy-box{
    border: 2px solid #0075c1;
    padding: 5px 5px;
    height: 80px;
}

.p-therapy-box h3{
    color: #5480bc;
    font-size: 1.6rem;
    font-weight: bold;
    line-height: 20px;
    padding: 5px 0 5px 5px;
    position: relative;
    border-bottom: 0px;
    border-left: 0px;
    
}
.p-therapy-box a{
 text-decoration: none;
    
}

.p-btn-therapy-contact{
    width:110px;
}


.list-line {
    font-size: 0;
}

.list-line li {
    font-size: 1.2rem;
    display: inline-block;
    width: 20%;
}

.btn-web {
    margin: 0.7em 0;
    max-width: 100% !important;
    text-align: center;
}

.text-q {
    color: #156ABE;
}

.text-q > p::first-letter {
    font-size: 4rem;
}

.text-a > p::first-letter {
    color: #ff0000;
    font-size: 4rem;
}

.tbl-header {
    background-color: paleturquoise;
    font-weight: 900;
}

.tbl-nav {
    background-color: lightcyan;
    font-weight: 700;
}

.tbl-inner {
    background-color: #ECE8EC;
}

.tbl-topics {
    background-color: #FDD0FB;
    font-weight: 700;
}

.tbl-info {
    background-color: lemonchiffon;
    font-weight: 700;
}


.price{
    white-space: nowrap;
}


/* 住所 */

.address {
    font-size: 1.3rem;
}


/* スマホアイコン (出しわけはweluka UIで操作)*/

.spicon li {
    list-style: none;
    float: left;
    margin: 5px 1px 0 0;
    width: 24%;
}

.spicon li a {
    display: block;
    //height: 80px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    text-align: center;
}

/* 画像アイコン */
.sec_tab_content li {
    float: left;
    margin: 5px 2px 0 0;
    visibility: hidden;
    width:24%;
    list-style: none;
}

/* From sub-free */
.ttl-sub{
	font-size:1.5rem;
	color: #000000;
	font-weight: normal;
}

.text-case{
	color: #002F55;
	font-weight: bold;
}

.info-more{
	margin-left: 10%;
}

.box{
	padding: 10px 10px 1px 10px;
	margin-left: 10px;
    margin-right: 10px;
}

.box-blue{
	background-color: #F4FBF9;
}

.box-red{
	background-color: #FEFEE9;
}

.box-gray{
	background-color: #F5F5F5;
	border: 1px solid #CCCCCC;
}


.img-bottom{
	margin-bottom:35px;
}

.ttl{
	color: #002F55;
	font-weight: bold;
}

.text-bold{
	font-weight: bold;
}

.img-arrow{
	width: 20% !important;
}

/*single*/

.weluka-single-meta{
    margin-bottom: 10px;
}
.pull-link{
    margin-bottom: 5px;
}

/*YELLOW*/
.tbl-item{
	background-color: #FFFF00 !important;
}

/*VIOLET*/
.tbl-main{
	background-color: #afb3ff !important;
}
/*Light-Violet*/
.tbl-contents{
	background-color: #d2cdfc!important;
}
/*Light-Blue*/
.tbl-contents2{
	background-color:#e0e7ff !important;
}


.tbl-voice th{
	white-space: nowrap;
}

.tbl-text{
	white-space: nowrap;
}

.tbl-fit tr th{
	white-space: nowrap;
}


.list-item{
	list-style: none;
}

.text-small{
	font-size: 0.7em;
}

.text-normal{
	font-size: 1.4em;
}

.text-large{
	font-size: 2em;
}

.tbl-center tr th,.tbl-center tr td, .tbl-center td, .tbl-center{
	text-align: center !important;
}

.tbl-noborder tr th,.tbl-noborder tr td{
	border: none !important;
	vertical-align: middle;
}

.list-flex{
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;  
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}

.tbl-wide tr th {
    white-space: nowrap;
}


.list-btn li{
	list-style: none;
	display: inline;
}


.list-btn{
	width: 300px;
	margin: 0 auto;
}

.box-btn{
 	width: 60%;
	margin: 0 auto;
	background-color: #9F9FF0;
	padding: 25px 5px 25px 5px;
	min-width: 300px;
}


.text-orange{
	color: #ff8409;
}

.p-indent-list li::first-letter{
	color: #0E4C7D;
	font-weight: bold;
}

.text-bottom td{
	vertical-align: bottom;
}

.border-gray{
	border: 1px solid #CCCCCC;
}

.list-inside li{
	list-style-position: outside;
    list-style-type: circle;
    margin-left: 32px;
}

.text-top, .text-top a{
	color: #0075c1;
  font-weight: bold;
}

.bg-article{
	background-image:url('/wp-content/uploads/menu/ico-article.jpg');
}

.bg-news{
	background-image:url('/wp-content/uploads/menu/ico-news.jpg');
}


.list-nav ul li{
	border-right: 1px solid #6a6a6a;
}

.list-nav ul li:last-child{
	border: none;
}


.text-header,.text-header p{
	margin: 0;
}

.btn-header{
	width: 110px;
    margin-top: 5px;
}


h4.getPostTitle, .weluka-list-title{
	margin-top: 0 ;
	color: #0075c1;	
	border-bottom: none;
	font-size: 1.2em;
  padding: 0;
  font-weight: bold;
    border-left: none;
}

.getPostTitle a,.weluka-list-title a{
	text-decoration: none;
}

.getPostDate{
    color: #91c3ea;
    font-size: 0.8em;
}

.img-arrowblue {
  padding-top: 40px;
}

.list-flex li {
  min-width: 50%;
  padding: 5px;
  margin-top: 10px;
  list-style: none;
  float: left;
  text-align: left;
  margin-right: auto;
  font-size: 1.2rem;
  background-image: url(https://ssm001.kix.ad.jp/ex0040100617/icon_arrow_blue2.jpg);
  background-repeat: no-repeat;
  background-position: 0px 6px;
  padding-left: 10px;
}

.google-map iframe {
  height: 300px;
  min-width: 300px;
}

.list-narrow {
  padding-left: 5%;
}

.bg-left {
  padding-left: 10%;
  background-repeat: no-repeat;
  background-position: left top;
  background-size: contain;
}

.list-nav ul li a{
  font-size: 2.0rem;
  font-weight: bold;
    color: #000;
}

.getPost {
  border-bottom: 2px dotted #d6d6d6;
  display: flex;
}

.getPostImgArea {
  width: 25%;
}

.getPostStringArea {
  width: 75%;
  padding-left: 10px;
}

.weluka-sidebar h4.getPostTitle{
  font-weight: normal;
  font-size: 1em;
}

.sidebar-nav{
  border: 3px solid #0075c1;
  margin: auto;
  padding: 5px 0;
}

.sidebar-nav h3{
  border: none;
  font-size: 1.8rem;
  color: #0075c1;
  background-image: url(/wp-content/uploads/menu/ico-doctor.png);
  padding-left: 25px;
  background-repeat: no-repeat;
  background-position: left top;
  background-size: contain;
  margin-bottom: 5px;
  margin-left: 5px;
}

.menu li{
  font-size: 1.8rem;
  padding: 0;
}

.sidebar-nav ul li a{
  text-decoration: none;
  color: #000000;
}

.sidebar-ttl a{
  text-decoration: none;
  font-size: 1.2em;
}

.sidebar-bg{
  padding-left: 30px;
  background-repeat: no-repeat;
  background-position: left top;
  background-size: contain;
}

.sub-menu li{
  background-color: #FFF;
  font-size: 1.5rem;
  padding-top: 2px;
}

/* 768px以上 */

@media (min-width: 768px) {
    
    .p-btn-therapy-contact{
    width:auto;
    }
    
    .img-arrowblue {
        padding-top: 0px;
    }

    .list-flex li{        
        min-width: 33%;        
    }

    .google-map iframe{
        height: 400px;
        width: 600px;
    }

    .bg-left{        
        padding-left: 4%;
       
    }

    .list-nav ul li a{
        font-weight: bold;
    }

    .getPost{
        border-bottom: 3px dotted #d6d6d6;
    }

    .getPostImgArea {
        width: 8vw;
        float: left;
    }

    .getPostStringArea {
        width: 90%;
        padding-left: 1vw;
        float: left;
    }

    .sidebar-bg{
      padding-left: 40px;
    }
    
    .bogo-language-switcher{
    margin-left: auto;
    margin-right: 0;
}

}

