/* 
http://www.tam-tam.co.jp/tipsnote/html_css/post10205.html
Projectレイヤー
Projectレイヤーはプロジェクト固有のスタイルが該当します。プロジェクトで使い回すスタイルのほとんどはProjectレイヤーに追加することになります。
※接頭語に p- が必要だが、sub-free.css を引き継ぐため、これに限らない。
*/

#main-content p {
    margin-bottom: 1.2rem;
}

/* list */
.p-indent-list{
    counter-increment: number;

    padding: 10px 0 10px 30px;
    text-indent: -3rem;
}

.p-indent-list li{
        list-style: inside none;
}

.readtext {
    text-align: center;
}

.img-arrowblue {
    padding-top: 0px;
}

.text-imgflow {
    text-align: center;
    font-size: 1.4rem;
}

.readtext .h2 {
    font-size: 26px;
    margin-bottom: 5px;
    text-align: center;
    color: #000;
    font-weight: 700;
}

.readtext .h3 {
    font-size: 250%;
    font-weight: normal;
    margin: auto 5px;
    color: #e03730;
    font-weight: 900;
    margin: 10px 0px;
    text-align: center;
}

.weluka-bl-title {
    border-left: 5px solid #193e72;
    font-size: 17.5px;
    margin: 20px 0;
    padding: 10px 20px;
    font-weight: 600;
}


/*カテゴリショートコード*/

.getPostDispArea .getPost {
    /*
    border: 2px solid #9a9a9a;
        background-color: #e4f4ff;
      */
    padding: 5px;
    margin: 5px 0px;
}

.getPostDispArea .getPost:after {
    content: '';
    display: table;
    clear: both;
}

.getPostImgArea {
    width: 10%;
    float: left;
}

.getPostStringArea {
    width: 90%;
    padding-left: 15px;
    float: left;
}

h4.getPostTitle {
    color: #193E72;
    font-weight: bold;
}


/*heade navi*/

.navbar-brand {
    padding: 1px;
}

.weluka-nav a {
    display: inline;
    padding: 3px 3px;
    margin-left: 5px;
}


/* Bogo */

.bogo-line ul {
    display: table;
    table-layout: fixed;
}

.bogo-line ul li {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-size: 1.2rem;
    margin-right: 5px;
    vertical-align: middle;
    padding-top: 3px;
}

.bogo-line ul li:first-child {
    border: none;
}

.bogo-line ul li a {
    // text-decoration:none;
    color: #193E72;
}


/* 現在選択してる言語は非表示 */

.bogo-language-switcher .current {
    display: none;
}


/* セラピー(治療ページ) */

.therapybtn {
    float: left;
    margin: 2px 2px;
}

.therapybtn-def {}

.therapybtn-current {
    background-color: #e6e6e6;
}

.list-line {
    font-size: 0;
}

.list-line li {
    font-size: 1.2rem;
    display: inline-block;
    width: 20%;
}

.btn-web {
    margin: 0.7em 0;
    max-width: 100% !important;
    text-align: center;
}

.text-q {
    color: #156ABE;
}

.text-q > p::first-letter {
    font-size: 4rem;
}

.text-a > p::first-letter {
    color: #ff0000;
    font-size: 4rem;
}

.tbl-header {
    background-color: paleturquoise;
    font-weight: 900;
}

.tbl-nav {
    background-color: lightcyan;
    font-weight: 700;
}

.tbl-inner {
    background-color: #ECE8EC;
}

.tbl-topics {
    background-color: #FDD0FB;
    font-weight: 700;
}

.tbl-info {
    background-color: lemonchiffon;
    font-weight: 700;
}


.price{
    white-space: nowrap;
}


/* 住所 */

.address {
    font-size: 1.3rem;
}


/* スマホアイコン (出しわけはweluka UIで操作)*/

.spicon li {
    list-style: none;
    float: left;
    margin: 5px 1px 0 0;
    width: 24%;
}

.spicon li a {
    display: block;
    //height: 80px;
    background: #7d3e6d;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    text-align: center;
}

/* 画像アイコン */
.sec_tab_content li {
    float: left;
    margin: 5px 2px 0 0;
    visibility: hidden;
    width:24%;
    list-style: none;
}

.sec_tab_content li {

}


/* 768px以上 */

@media (min-width: 768px) {
 
    .img-arrowblue {
        padding-top: 40px;
    }

}