/* 
utilityレイヤー
Utilityレイヤーはいわゆる汎用クラスのことで、ほとんどの場合で単一のスタイルを持っています。確実にスタイルを適応させるために!importantを指定します。
Sass側ではレスポンシブにも対応できるように、@eachを使ったMixinを使っています。
*/

/*ほぼboostrapに依存*/

/* テキストカラー */
.pickup{
	color: #FF0000;
	font-weight: 700;
}

.note{
	color: #0000FF;
}

.font-size-150{
    font-size: 150%;
}

.font-size-120{
    font-size: 120%;
}

/* リスト */
.list-line {
    font-size: 0;
}

.list-line li {
    font-size: 1.2rem;
    display: inline-block;
    width: 20%;
}



/* テキストおよび画像位置 */
.img-webbtn{
	margin: auto;
}

.text-center {
    text-align: center;
}
.text-left {
    text-align:right;
}
.text-right {
    text-align:left;
}
