/* 
utilityレイヤー
Utilityレイヤーはいわゆる汎用クラスのことで、ほとんどの場合で単一のスタイルを持っています。確実にスタイルを適応させるために!importantを指定します。
Sass側ではレスポンシブにも対応できるように、@eachを使ったMixinを使っています。
*/

/*ほぼboostrapに依存*/

/* aly:2017/02/21 */
.pickup{
	color: #FF0000;
	font-weight: 700;
}

.note{
	color: #0000FF;
}
										
.img-webbtn{
	margin: auto;
}
