/* 
Layoutレイヤー
Layoutレイヤーはワイヤーフレームに定義されるような大きな単位のコンテナブロックが該当します。このレイヤー以降はクラスセレクタのみを指定します。例外として、このLayoutレイヤーにだけは必要に応じてIDセレクタを指定することもできます。
welukaの3パーツの接頭語は、Section = ls- 、 column = lc- 、row = lr- 、とします。 
*/


/* 
Section 
*/

.ls-header{}

.ls-therapy-top{}
.ls-therapy-anc{}
.ls-therapy-comment{}
.ls-therapy-flow{}
.ls-therapy-point{}
.ls-therapy-price{}
.ls-therapy-qa{}
.ls-therapy-point table th{
    white-space: nowrap;
}
/*
Row
*/
.lr-header{}

/*
colmun
*/
.lc-header{}
.lc-schedule{
    padding:20px;
}


/*スマホ時のみテーブル構造変化(最初にblockをかけると上書きしてテーブルに戻させないため、特別に記載)*/
@media only screen and (max-width:767px) {
    .ls-therapy-point table th,
    .ls-therapy-point table td {
        width: 100%;
        display: block;
        border-top: none;
        
    }
}
