/* sub-free
ユーザーにて自由追加のCSS
*/

#main-content h3 {
    font-size: 2.0rem;
    border-left: 7px solid #193E72;
    border-bottom: 1px solid #193E72;
    padding: .6em .8em;
    font-weight: bold;
    margin: 20px 0px 5px 0px;
}

.ttl-sub{
	font-size:1.5rem;
	color: #000000;
	font-weight: normal;
}

.text-case{
	color: #002F55;
	font-weight: bold;
}

.info-more{
	margin-left: 10%;
}

.box{
	padding: 10px;
	margin-left: 10px;
    margin-right: 10px;
}

.box-blue{
	background-color: #F4FBF9;
}

.box-red{
	background-color: #FEFEE9;
}

.box-gray{
	background-color: #F5F5F5;
}

.ls-narrow{
	padding: 0;
}

.img-bottom{
	margin-bottom:35px;
}

.ttl{
	color: #002F55;
	font-weight: bold;
}

.img-arrow{
	width: 20% !important;
}

/*YELLOW*/
.tbl-item{
	background-color: #FFFF00 !important;
}

/*VIOLET*/
.tbl-main{
	background-color: #afb3ff !important;
}
/*Light-Violet*/
.tbl-contents{
	background-color: #d2cdfc!important;
}
/*Light-Blue*/
.tbl-contents2{
	background-color:#e0e7ff !important;
}

.lr-border{
	border: 1px solid #CCCCCC;
}

.lc-border{
	border-right: 1px solid #CCCCCC;
}